@page
@using DashboardWebApp.Models;
@model DashboardWebApp.Pages.Managers.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Managers</h1>

<p>
    <form method="get">
        <button type="submit" asp-page="./Create" class="btn">Create</button>
    </form>
</p>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Managers[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.Managers[0].IP) / @Html.DisplayNameFor(model => model.Managers[0].Port)</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model.Managers)
        {
        <tr>
            <td>@manager.Name</td>
            <td>@manager.IP.ToString() / @manager.Port</td>
            <td><a asp-page="../RSUs/Index" asp-route-managerId="@manager.Id">Rsus</a></td>
            <td><a asp-page="../ManagerLogs/Index" asp-route-managerId="@manager.Id">Manager Logs</a></td>
            <td><a asp-page="../TrapLogs/Index" asp-route-managerId="@manager.Id">Trap Logs</a></td>
            <td><a asp-page="./Edit" asp-route-id="@manager.Id">Edit</a></td>
            <td><a asp-page="./Delete" asp-route-id="@manager.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

