@model List<DashboardWebApp.ViewModels.Manager.ManagerUserEditModel>



@*@<form method="post" asp-page-handler="AddManagerUser">
    <button class="btn">Add</button>
</form>*@

@*<button type="button" class="btn" asp-page-handler="AddManagerUser">Add</button>*@

<form method="post" asp-page-handler="ManagerUsers">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th><label asp-for="@Model[0].Name" class="col-form-label"></label></th>
                <th><label asp-for="@Model[0].Token" class="col-form-label"></label></th>
                <th><label asp-for="@Model[0].Role" class="col-form-label"></label></th>
                <th><label asp-for="@Model[0].SnmPv3Auth" class="col-form-label"></label></th>
                <th><label asp-for="@Model[0].SnmPv3Priv" class="col-form-label"></label></th>
                <th></th>
                <th width="0"></th>
            </tr>
        </thead>
        @{/*<div class="col-sm-4">
            <div class="form-group">
            <label asp-for="@Model[i].ManagerId" class="custom-control-label"></label>
            <input asp-for="@Model[i].ManagerId" class="form-control" />
            <span asp-validation-for="@Model[i].ManagerId" class="text-danger"></span>
            </div>
            </div>*/
        }
        <tbody>
            @for(int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model[i].Name" class="form-control" />
                            <span asp-validation-for="@Model[i].Name" danger=""></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model[i].Token" class="form-control" />
                            <span asp-validation-for="@Model[i].Token" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model[i].Role" class="form-control" />
                            <span asp-validation-for="@Model[i].Role" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model[i].SnmPv3Auth" class="form-control" />
                            <span asp-validation-for="@Model[i].SnmPv3Auth" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model[i].SnmPv3Priv" class="form-control" />
                            <span asp-validation-for="@Model[i].SnmPv3Priv" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        @{/*<a asp-action="ChangeManagerUserStatus" asp-route-id="@Model[i].Id" asp-route-newStatus="MODIFIED">Modify</a> |
                                    <a asp-action="ChangeManagerUserStatus" asp-route-id="@Model[i].Id" asp-route-newStatus="DELETED">Delete</a>}*/
                        }
                    </td>


                    <td width="0" class="m-0 p-0">
                        <input type="hidden" asp-for="@Model[i].ManagerId" class="m-0 p-0" />
                        <input type="hidden" asp-for="@Model[i].Id" class="m-0 p-0" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<input type="submit" class="btn" value="Save"/>*@
</form>