@page
@model DashboardWebApp.Pages.TrapLogs.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Trap Logs</h1>
<h2>@Model.Manager.Name (@Model.Manager.IP / @Model.Manager.Port)</h2>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>RSU</th>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.TrapLogs)
        {
        <tr>
            @if (log.SourceRSU != null)
                {<td>@log.SourceRSU.IP / @log.SourceRSU.Port</td>}
            else
                {<td>-.-.-.- / -</td>}
            <td>@log.TimeStamp</td>
            <td>@log.Type</td>
            <td>@log.Message</td>
        </tr>
        }
    </tbody>
</table>

