@page
@model DashboardWebApp.Pages.ManagerLogs.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var color = "";
}

<h1>Manager Logs</h1>
<h2>@Model.Manager.Name (@Model.Manager.IP / @Model.Manager.Port)</h2>

<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.ManagerLogs)
        {
            @switch (log.Type)
            {
                case "DB":
                    color = "table-success";
                    break;
                case "SECURITY":
                    color = "table-danger";
                    break;
                case "APICALL":
                    color = "table-info";
                    break;
                default:
                    color = "";
                    break;
            }
        <tr class="@color">
            <td>@log.TimeStamp</td>
            <td>@log.Type</td>
            <td>@log.Message</td>
        </tr>
        }
    </tbody>
</table>

